<mat-card class="main-card" >
  <mat-card-title class="card-title">Raporty</mat-card-title>
  <div class="category-bar-wrapper">
    <div class="category-bar">

      <mat-grid-list cols="11" rowHeight="5vh">
        <mat-grid-tile colspan="2">Data</mat-grid-tile>
        <mat-grid-tile colspan="2">Nazwa Produktu</mat-grid-tile>
        <mat-grid-tile colspan="2">Ilość</mat-grid-tile>

        <mat-grid-tile *ngIf="id===1" colspan="2">Cena sprzedarzy</mat-grid-tile>
        <mat-grid-tile *ngIf="id===2" colspan="2">Zyski</mat-grid-tile>
        <mat-grid-tile colspan="1">Rozmiar</mat-grid-tile>
        <mat-grid-tile colspan="1">Cena kupna</mat-grid-tile>
        <mat-grid-tile colspan="1">Kategoria</mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

  <mat-card-content class="element-list"*ngIf="body" >
    <div class="element-containter" *ngFor="let element of body">
      <mat-card class="cart-element-container"  >
        <mat-grid-list cols="11" rowHeight="100%">
          <mat-grid-tile colspan="2">
            <p> {{ element.orderHistoryDate!.substring(0,10)}} </p>
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            <p> {{ element.productName }} </p>
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            <p> {{ element.orderAmount }} </p>
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            <p> {{ element.orderSellPrice }} </p>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <p> {{ element.productSize }} </p>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <p> {{ element.buyingPrice }} </p>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <p> {{ element.categoryName }} </p>
          </mat-grid-tile>

        </mat-grid-list>
      </mat-card>

    </div>

  </mat-card-content>
</mat-card>
