
<mat-card class="content">
  <div class="title-container">
    <mat-card-title>
      <button (click)="select()" color="primary" class="title" mat-flat-button>
        {{product.productName}}
      </button>
    </mat-card-title>
  </div>
  <div class="content-container">
    <div class="image-container">
      <img class="image" [src]="product.photoUrl">
    </div>
    <div class="information-container">
      <div class="description">
        {{product.description}}
      </div> 
      <div class="prize">
        Cena: {{product.prize}} zł
      </div>
    </div>
  </div>

</mat-card>
