/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tooltip.tooltip {
    font-size: 20px !important;
  }

.added-to-cart-snackbar {
  background: #00AA00;
  color: #FFFFFF;
}

.added-to-cart-snackbar .mat-button {
  color: #fff2db;
}

.added-to-cart-snackbar .mat-simple-snackbar {
  font-size: 16px;
}

