.save-anon-cart-info {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    background: rgb(255, 147, 147);
    padding: 0 10px;
}

.mat-card {
    border: 1px solid rgb(161, 161, 161);
}

.material-card {
    width: 80%;
}

.input-form {
    width: 100% ;
}

.material-divider {
    height: 80%;
    opacity: 100%;
    border-color: rgb(170, 170, 170);
  }

.validation-error {
    color: red;
}

.failure-info {
    background-color: red;
    font-size: normal;
    color: white;
}
.success-info {
    background-color: green;
    font-size: normal;
    color: white;
}

.error-outline {
    border: 1px solid red;
    border-radius: 5px;
    padding: 4px;
}

